extends baseEmail

block content
    p Hi #{userName},
    p Forgot your password? Copy the below token and paste it in the required field.
    </br>
    h3.title #{url}
    p -----------
    </br>
    </br>
    p If you didn't forget your password, please ignore this email!
    p - OFFICIAL: officialgreenbuy@gmail.com
